# Question 1:
1) Create a pandas Series from a list  x = [13, -5, 7, 19]
2) Create a series using a numpy array having values "23, 3.0, 7, 11" and specifying index values as "a, b, c, d"
3) Get the values and index of the series of the above series
4) Access individual elements of the string
5) Assign new values to the elements

In [1]:
# Import the required libraries

import pandas as pd
import numpy as np

# 1.1 Create a pandas Series from a list  x = [13, -5, 7, 19]
x = [13, -5, 7, 19]
s1 = pd.Series(x)

# Print the series and observe the default indices created
print(s1)

0    13
1    -5
2     7
3    19
dtype: int64

In [ ]:
# Notice that the data type is automatically set for the series as 'int64'

In [2]:
# 1.2 Create a series using a numpy array

y = np.array([23, 3., 7, 11])
s2 = pd.Series(y, index=['a', 'b', 'c', 'd'])

print(s2)

a    23.0
b     3.0
c     7.0
d    11.0
dtype: float64

In [3]:
# Note that indices are specifies at the time of creation.

# Check the data type of the series
s2.dtype

dtype('float64')

In [4]:
# The data type is set as float since one of the values is a float

In [5]:
# 1.3 Get the values and index of the series

print("Values:", s2.values)

print("Index:", s2.index)

Values: [23.  3.  7. 11.]
Index: Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
# 1.4 Access the elements of Series

print("Third element: ", s2[2])

print("First two elements:\n")
print(s2[0:2])

print("Element having index 'd':")
print(s2['d'])

Third element:  7.0
First two elements:

a    23.0
b     3.0
dtype: float64
Element having index 'd':
11.0

In [7]:
# 1.5 Assign new values to the elements

s2['a'] = 10

s2[1] = 11
print(s2)

a    10.0
b    11.0
c     7.0
d    11.0
dtype: float64

# Question 2:Â¶
From the raw data below create a pandas Series

'Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'

1) Print all elements in lower case
2) Print all the elements in upper case	
3) Print the length of all the elements

In [8]:
# 2.1
s = pd.Series(['Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'])
print(s.str.lower())

0    amit
1     bob
2    kate
3       a
4       b
5     NaN
6     car
7     dog
8     cat
dtype: object

In [9]:
# 2.2

print(s.str.upper())

0    AMIT
1     BOB
2    KATE
3       A
4       B
5     NaN
6     CAR
7     DOG
8     CAT
dtype: object

In [10]:
# 2.3

print(s.str.len())

0    4.0
1    3.0
2    4.0
3    1.0
4    1.0
5    NaN
6    3.0
7    3.0
8    3.0
dtype: float64

# Question 3:
From the raw data below create a pandas Series

' Arya', 'John ', ' jack ', 'Sam'

1) Print all elements after stripping spaces from the left and right
2) Print all the elements after removing spaces from the left only
3) Print all the elements after removing spaces from the right only

In [11]:
# 3.1
s = pd.Index([' Arya', 'John ', ' jack ', 'Sam'])

print(s)
print(s.str.strip())

Index([' Arya', 'John ', ' jack ', 'Sam'], dtype='object')
Index(['Arya', 'John', 'jack', 'Sam'], dtype='object')

In [12]:
# 3.2

print(s.str.lstrip())

Index(['Arya', 'John ', 'jack ', 'Sam'], dtype='object')

In [13]:
# 3.3

print(s.str.rstrip())

Index([' Arya', 'John', ' jack', 'Sam'], dtype='object')