In [1]:
# Initializing list
lst=["zero",1,2,3,4,5,'six']
print('List: ',lst)

List:  ['zero', 1, 2, 3, 4, 5, 'six']

# Lists

In [2]:
# Nested list
my_list = ["cat", [1,2,3], ['a','b','c']]

In [3]:
#Indexing in list
print('First item of list:',my_list[0])
print('Second item of list:',my_list[1])
print('Third item of list:',my_list[2])
print('Third item of list and second item of list inside it:',my_list[2][1])

First item of list: cat
Second item of list: [1, 2, 3]
Third item of list: ['a', 'b', 'c']
Third item of list and second item of list inside it: b

In [4]:
# length of list
length_of_list=len(my_list) # len() is a built-in function can be used with any iterable
print('Length of a list:',length_of_list)

Length of a list: 3

In [5]:
# Proper indexing
print('Element at index -%d:'%(length_of_list),my_list[-length_of_list]) # will print first element of list

Element at index -3: cat

In [6]:
# It will give error
print('Element at index %d:'%(length_of_list),my_list[length_of_list]) # It will give 'Index out range' error, because it is not a valid index

IndexError: list index out of range

In [7]:
sales=map(int,input('Sales data(seperated by comma): ').split(',')) # Enter data only in integer and add comma to seprate them, For exmple. we have entered 123 at second index
print('Sales of the week:',sales)

Sales data(seperated by comma): 3,4,5,6,7
Sales of the week: <map object at 0x0000020F18131F60>

In [8]:
# Map return an iterable, so wilson will have to convert it to a list
sales=list(sales)
print('Sales of the week:',sales)

Sales of the week: [3, 4, 5, 6, 7]

In [9]:
# To just print the sales of first 5 days
print('Sales of first 5 days:',sales[:5])

# Apparently wilson made a mistake in entering data

index=sales.index(5)
sales.remove(5)
sales.insert(index,9) # entering new value at a index where '123' was located
print('Sales after correction: {}'.format(sales))

Sales of first 5 days: [3, 4, 5, 6, 7]
Sales after correction: [3, 4, 9, 6, 7]

In [10]:
sales.sort()
print('Sorted sales in ascending order:',sales)
# To print in reverse order, :: means nothing for first argument and second argument. 
# :: works as-> [start:stop(exclusive):step]
# Third parameter is required number of steps to take
print('Sorted sales in descending order:',sales[::-1])

Sorted sales in ascending order: [3, 4, 6, 7, 9]
Sorted sales in descending order: [9, 7, 6, 4, 3]

In [11]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print('Odd numbers:',numbers[::2])  # To print odd only
print('Even numbers:',numbers[1::2]) # To print even only

Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
second_week=[651,752,673,85,567,750]
sales.extend(second_week)
print('Sales in last two weeks:',sales)

# Well second_week does not have data for last day
last_day=int(input('Last day sales:')) # Take value for last day
sales.append(last_day)
print('Sales in last two weeks(appended last day sales):',sales)

Sales in last two weeks: [3, 4, 6, 7, 9, 651, 752, 673, 85, 567, 750]
Last day sales:999
Sales in last two weeks(appended last day sales): [3, 4, 6, 7, 9, 651, 752, 673, 85, 567, 750, 999]

In [13]:
# Total sales
print('Total sales:',sum(sales))

# Maximum Sales
print('Maximum Sales:',max(sales))

# Minimum Sales
print('Minimum Sales:',min(sales))

Total sales: 4506
Maximum Sales: 999
Minimum Sales: 3

In [14]:
# printing list the elegant way
print('Sales: ',end='') # 'end' argument appends a string after the last value, default is a newline.
print(*sales,sep='|')   # 'sep' argument inserts a string between multiple values

Sales: 3|4|6|7|9|651|752|673|85|567|750|999

# Sets

In [15]:
#Creating Sets
vowels = {'a','a', 'e', 'i', 'o', 'u'}
print('Set of vowels:',vowels)
set_a={0,8,6,3,2,1,4,6,4,8,0,1}
set_b={4,324,25,25,23,51,3}
print('Set A:',set_a)
print('Set B:',set_b)

Set of vowels: {'o', 'e', 'i', 'a', 'u'}
Set A: {0, 1, 2, 3, 4, 6, 8}
Set B: {3, 4, 324, 51, 23, 25}

In [16]:
# set difference
print('Elements in A but not in B',set_a-set_b)
print('Elements in B but not in A',set_b-set_a)

# Union and Intersection
print('Union of sets A and B:',set_a.union(set_b))
print('Intersection of A and B',set_a.intersection(set_b))

Elements in A but not in B {0, 1, 2, 6, 8}
Elements in B but not in A {25, 51, 324, 23}
Union of sets A and B: {0, 1, 2, 3, 4, 324, 6, 8, 51, 23, 25}
Intersection of A and B {3, 4}

In [17]:
set_a.add(5)
set_a.update([5,6,6])
print('Set A after inserting 5 and updating from a list:',set_a)

Set A after inserting 5 and updating from a list: {0, 1, 2, 3, 4, 5, 6, 8}

In [18]:
# Membership operator
print( 1 in set_a)
print(1 in set_b)

True
False

In [19]:
# Inbuilt functions will work on any type of iterable
print(all(set_a)<100) # returns true if every item in iterable is holds the condition
print(any(set_a)>10) # returns true if any one item in iterable holds the condition

True
False

# Dictionary

In [20]:
# Creating a dictionary
# James wants to insert Employee Data 
emp_data={'Name':'James','Age':21,'Band':'C'}
print(emp_data)

{'Name': 'James', 'Age': 21, 'Band': 'C'}

In [21]:
# keys() method will return keys of dictionary
keys=emp_data.keys()
print(keys)

dict_keys(['Name', 'Age', 'Band'])

In [22]:
# values() method will return values of dictionary
print(emp_data.values())

dict_values(['James', 21, 'C'])

In [23]:
# So now he wants to insert data of his team
team_data=dict.fromkeys(keys)
print('Team Data:',team_data)

Team Data: {'Name': None, 'Age': None, 'Band': None}

In [24]:
# Team data
names=['Smith','Manali','Kabir']
ages=[21,28,22]
bands=['C','B','D']

In [25]:
# Inserting data
team_data['Name']=names
team_data['Age']=ages
team_data['Band']=bands

In [26]:
print('Team Data after inserting data:',team_data)

Team Data after inserting data: {'Name': ['Smith', 'Manali', 'Kabir'], 'Age': [21, 28, 22], 'Band': ['C', 'B', 'D']}

In [27]:
# Printing data from dictionary
print(team_data['Name'][1])

Manali

In [28]:
# He no longer requires Age attribute
team_data.pop('Age') # removing Age attribute
print('Updatad Team Data:',team_data)

Updatad Team Data: {'Name': ['Smith', 'Manali', 'Kabir'], 'Band': ['C', 'B', 'D']}

In [29]:
country_name=['Hungary','Iceland','India','Indonesia',\
              'Iran, Islamic Republic of','Iraq','Ireland','Isle of Man',\
              'Israel','Italy','Jamaica','Japan','Jersey','Jordan']
country_code=['HU','IS','IN','ID','IR','IQ','IE','IM','IL','IT','JM','JP','JE','JO']

In [30]:
country_dict=dict(zip(country_code,country_name)) # returns iterable in form of tuples

In [31]:
# Printing the Dictionary
print(country_dict)

{'HU': 'Hungary', 'IS': 'Iceland', 'IN': 'India', 'ID': 'Indonesia', 'IR': 'Iran, Islamic Republic of', 'IQ': 'Iraq', 'IE': 'Ireland', 'IM': 'Isle of Man', 'IL': 'Israel', 'IT': 'Italy', 'JM': 'Jamaica', 'JP': 'Japan', 'JE': 'Jersey', 'JO': 'Jordan'}

In [32]:
# Let's try for country 'India' if we provide 'IN'
country_dict['IN']

'India'

#Conclusion: This code demonstrates how to create lists, sets and dictionaries in Python. It also demostrates various methods and operations on these data types